.single{
    font-family: 'candara', sans-serif;
    display:flex;
    width:100%;
    .singleContainer{
        flex:6;
    }
    .top{
        display: flex;
        padding: 20px;
        gap: 20px;
        .left{
            flex: 2;
            padding-left: 15px;
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            .title{
                font-size: 25px;
                font-weight: 700;
                color: #333;
                text-shadow: 0 0 10px rgba(0,0,0,0.5);
                // text-shadow:
                text-align: center;
            }
            .edit{
                position: absolute;
                padding:4px 14px;
                border-radius: 10px;
                cursor: pointer;
                top: 4px;
                right: 4px;
                color:lightseagreen;
                background-color: rgba(32, 178, 171, 0.178);
            }
        }
        .right{
            flex:3;
        }
        .item{
            display: flex;
            padding: 20px;
            .itemImg{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
            }
            .details{
                margin-left: 20px;
                .detail-name{
                    font-size: 17px;
                    margin-bottom: 4px;
                    font-weight:bolder;
                    // font-family: 'ca';
                }
                .detailItem{
                    display: flex;
                    // font-size: 16px;
                    align-items: center;
                    color: rgb(41, 41, 41);
                    .detailKey{
                        font-size: 20px;
                        font-weight: 400;
                    }
                    .detailValue{
                        font-size: 16px;
                    }
                }
            }


        }
    }
    .bottomb{
        margin: 15px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        .title{
            font-size: 35px;
            padding: 10px;
            font-weight: 700;
            color: #333;
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
            text-align: center;
        }
    }
}

.product {
  flex: 4;
  padding: 12px;
  margin-top: 0;
  padding-top: 0;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productTitle{
  font-size: 26px;
  font-weight: 600;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 11px;
}

.productInfoTop {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
}

.productName {
  font-weight:normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
.addOn{
  font-size: small;
  color: rgb(173, 173, 173);
  margin: 0;
  padding: 0;
  margin-top: -4px;
  margin-left: 4px;
  font-family: "Open Sans", sans-serif;
}

.size{
  padding: 1px 5px;
  margin: 4px 2px;
  font-weight: normal;
  border: 1px solid #ccc;
  border-radius:3px;
}
.v1{
  margin: 5px 0px;
}

.color{
  border-radius: 3px;
  border: 1px solid gray;
  padding: 1px 10px;
  margin: 4px;
  font-weight: normal;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productInfoKey{
  font-weight: normal;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  flex: 2;
  text-align: left;
  padding-right: 10px;
}

.productInfoValue {
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  flex: 5;
  text-align: start;
  padding-left: 20px; 
}


.productBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.productFormLeft >select{
  margin-bottom: 10px;
}

.productUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.productFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productUpload{
  display: flex;
  align-items: center;
}

.productButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

th,
td {
  padding: 2px;
  font-family: monospace;
}

th {
  background-color: #f5f5f5;
}

.bu1{
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.bu2{
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
}

.containsEditUser{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px;
  .left{
    flex: 5;
    background-color: antiquewhite;
    min-height: 50vh;
  }
  .right{
    flex:6;
    background-color: darkblue;
    min-height: 50vh;
  }
}


// single user

.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}

.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUsername {
  font-weight: 600;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.userShowIcon{
    font-size: 16px !important;
}

.userShowInfoTitle{
    margin-left: 10px;
}

.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
    text-align: right;
    width: 100%;
    margin-bottom: -14px;
}

.userUpdateForm{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.userUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userUpdateUpload{
    display: flex;
    align-items: center;
}

.userUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
    object-fit: cover;
}

.userUpdateIcon{
    cursor: pointer;
}

.userUpdateButton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}