.chart {
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    width: 100%;
  }
  
  .mk500{
    width: 100%;
    max-width: 500px;
    height: fit-content;
  }
  
  .chartTitle {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  .mkTitle{
    height: 65px;
  }