@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
.widgets{
    display: flex;
    flex:1;
    // border: 1px solid rgb(221, 221, 221);
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin:10px;
    height: 100px;
    font-family: 'candara', sans-serif;
    cursor: pointer;

    .left{
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-between;
        padding: 5px;
        .title{
            font-size: larger;
            color:rgb(78, 77, 77);
            // font-family: 'Itim', cursive;
        }
        .counter{
            font-size: x-large;
        }
        .link{
            text-decoration: underline;
        }
    }

    .right{
        // color: red;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .percentage{
            display: flex;
            justify-content: center;
            padding: 5px;

            &.positive{
                color: green;
            }
            &.negative{
                color: red;
            }
        }
        
        .icon{
            font-size: 20px;
            padding: 3px;
            border-radius: 5px;
            align-self: flex-end;
            // background-color: aqua;
        }
    }
}
