.home{
    display: flex;
    background: #fcfcfc;
    width: 100%;
    font-family: "open sans",sans-serif;
    .home-container{
        // background-color: aqua;
        flex:5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .widgets-container{
        display: flex;
        width: 96%;
        align-items: center;
        justify-content: center;
    }
    .charts{
        display: flex;
        width: 97%;
        padding: 10px;
    }
    .tableContainer{
        // box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        // border: 1px solid #e6e6e6;
        border-radius: 5px;
        margin: 10px 10px;
        padding: 15px;
        color: black;
        width: 95%;
        display: flex;
        margin: 10px;
    }
    .title{
        font-weight: bold;
        font-size: 26px;
        // padding: 4px;
        font-family: 'candara', sans-serif;
    }
}
