.featured{
    margin: 10px 0px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        color: grey;
        margin: 10px 5px;
        .title{
            color: black;
            font-family: "Open sans", sans-serif;
            padding-left: 10px;
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        color: grey;
        flex-direction: column;
        .featured-chart{
            width: 140px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'candara', sans-serif;

        }
        .title1{
            text-align: center;
            margin: 0;
            padding: 6px;
            font-weight: bold;
            font-family: "Open sans", sans-serif;
            color: rgb(54, 54, 54);
        }
        .amount{
            font-size: 35px;
            font-weight: 500px;
            color: black;
            margin: 0;
            padding: 0;
            font-family: monospace;
        }
        .desc{
            text-align: center;
            margin: 0;
            padding: 2px;
            font-family: 'candara', sans-serif;
            font-size: 16px;    
        }
    }
    .income{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
        .target1{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .target-text,.target-result{
                margin: 0;
                padding: 0;
            }
            .target-text{
                color: rgb(58, 58, 58);
                font-size: 18px;
            }
            .target-result{
                display: flex;
                align-items: center;
                font-size: 14px;
                text-align: center;
                font-family: "Open sans", sans-serif;
                &.positive{
                    color: red;
                }
                &.negative{
                    color: green;
                }
            }
        }
    }
}