.featured{
    flex:2;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        color: grey;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        color: grey;
        flex-direction: column;
        .featured-chart{
            width: 140px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'candara', sans-serif;

        }
        .title{
            text-align: center;
            margin: 0;
            padding: 6px;
            color: rgb(73, 73, 73);
        }
        .amount{
            font-size: 40px;
            font-weight: 500px;
            color: black;
            margin: 0;
            padding: 0;
            font-family: 'candara', sans-serif;
        }
        .desc{
            text-align: center;
            margin: 0;
            padding: 0;
            font-family: 'candara', sans-serif;
            font-size: 20px;    
        }
    }
    .income{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
        .target1{
            .target-text,.target-result{
                margin: 0;
                padding: 0;
            }
            .target-text{
                color: rgb(58, 58, 58);
                font-size: 18px;
            }
            .target-result{
                display: flex;
                align-items: center;
                font-family:cursive;
                font-size: 12px;
                text-align: center;
                &.positive{
                    color: red;
                }
                &.negative{
                    color: green;
                }
            }
        }
    }
}