.navbar{
    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;
    // position: sticky;
    // top:0px;
    .navbar-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;

        .nav-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                display: flex;
                align-items: center;
                padding: 5px;
                position: relative;

                .counter{
                    font-size: 10px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    padding: 3px;
                    height:10px;
                    width: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top:-9px;
                    right: -2px;
                }

            }
            .avatar{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                // margin-right: 10px;
            }
        }

        .search{
            border: 1px solid grey;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            background-color: white;
            padding-right: 10px;
            input{
                border: none;
                outline: none;
                padding: 5px;
                width: 200px;
                height: 25px;
                border-radius: 5px;
                background: none;
                font-weight: bolder;
                padding-left: 20px;
            }
        }
    }
}   
