.new{
    display: flex;
    width: 100%;
    background-color: #fcfcfc;
    .newContainer{
        flex: 6;
        .top{
            font-weight: bold;
            padding: 5px 13px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            font-size: 30px;
            margin: 10px 20px;
            margin-bottom: 1px;
        }
        .bottom{
            border: 1px solid #f0f0f0;
            border-top: 1px solid white;
            margin: 10px 20px;
            display: flex;
            margin-top: -2px;
            h1{
                color: rgb(122, 126, 128);
                padding: 5px;
                margin: 0;
            }
            .left{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: center;
                .item{
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    .addText{
                        font-size: 20px;
                        color: rgb(107, 131, 145);
                        font-weight: bold;
                        cursor: pointer;
                        padding: 10px;
                        text-align: center;
                    }
                }
                .myimg{
                    width: 210px;
                    height: 210px;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 11px 0px;
                    border-radius: 50%;
                }
            }
            .right{
                flex:2;
                .forms{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    padding: 30px;
                    justify-content: space-around;
                    .formItem{
                        width: 40%;
                        padding: 5px;
                        margin: 0;
                        display: flex;
                        flex-direction: column;      
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        input{
                            width:100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            outline: none;
                            font-size: medium;
                        }
                        .lbfile{
                            display: flex;
                            align-items: center;
                        }
                        .icon{
                            margin-right: 5px;
                            color: gray;
                            cursor: pointer;
                        }
                    }
                    .btn{
                        width: 150px;
                        padding: 8px 4px;
                        font-weight: bold;
                        border-radius: 4px;
                        color: white;
                        background-color: rgb(241,51,151);
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}
