.new{
    display: flex;
    width: 100%;
    .newContainer{
        flex: 6;
        .top,.bottom{
            box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
            margin: 10px;
            // padding: 5px;
            display: flex;
            h1{
                color: rgb(122, 126, 128);
                padding: 5px;
                margin: 0;
            }
            .left{
                flex:1;
                display: flex;
                align-items: center;
                justify-content: center;
                .myimg{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    background-color: white;
                }
            }
            .right{
                flex:2;
                form{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    padding: 30px;
                    justify-content: space-around;
                    .formItem{
                        width: 40%;
                        padding: 5px;
                        margin: 0;
                        display: flex;
                        flex-direction: column;      
                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        input{
                            width:100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                            outline: none;
                            font-size: medium;
                        }
                        .lbfile{
                            display: flex;
                            align-items: center;
                        }
                        .icon{
                            margin-right: 5px;
                            color: gray;
                            cursor: pointer;
                        }
                    }
                    .btn{
                        width: 150px;
                        padding: 9px;
                        font-weight: bold;
                        border-radius: 10px;
                        color: white;
                        background-color: rgba(0, 255, 170, 0.973);
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
            
        }
    }
}