.datatable{
    height: 900px;
    padding: 10px;
    .dataTableTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: bold;
        font-family: "Open Sans", sans-serif;
        .addBtn{
            color:white;
            background-color:rgb(244, 51, 151);
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 17px;
            font-weight: bold;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;
        justify-content: center;
        .cellImg{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        &.active{
            background-color: #00c85388;
            color: #00c853;
        }
        &.passive{
            background-color: #ff174579;
            color: #ff1744;
        }
        &.pending{
            background-color: #ffea005e;
            color: #ffea00;
        }
    }
    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;
    
        .action__view {
          padding: 2px 5px;
          border-radius: 5px;
          color: darkblue;
          border: 1px dotted rgba(0, 0, 139, 0.596);
          cursor: pointer;
        }
        
        .action__delete {
          padding: 2px 5px;
          border-radius: 5px;
          color: crimson;
          border: 1px dotted rgba(220, 20, 60, 0.6);
          cursor: pointer;
        }
    }
}

.productListItem{
    display: flex;
    align-items: center;
    font-size:15px;
    text-transform: capitalize;
}

.productListImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.productListText{
    color: green;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
}

.editDel{
    width: 74%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productListEdit{
    font-size: 17px;
    padding: 0px 9px;
    border: 1px solid rgb(20, 224, 156);
    margin-right: 10px;
    border-radius: 5px;
    background: rgb(20, 224, 156);
    color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}


.productListEdit:hover{
    background: rgb(9, 230, 156);
    color: white;
    cursor: pointer;
}

.productListDelete{
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-left: 15px;
    color: crimson;
}